html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 100%;
    }

    header {
        background-color:red;
        padding:5px;
        font-size:50;
        display: block;
        width: 790px;
        font-family: fantasy;
  }
    nav {
        float: middle;
    }
    nav ul {
        padding: ;
        float: middle;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        float: right;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: right;
    }
    aside {
        width: 20%;
        display: inline-block;
        font-family:fantasy;
        background-color:Red;
        font-size: 30 
        padding: 10;
        min-height: 40%;
    }
    aside ul {
        list-style-type: none;
        font-family:fantasy;
        font-size: 30
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
    div{
        float:left; 
        font-size: 30

    }
    section.empire {
        float:right;
    }

    h3{

        font-family:fantasy;
        font-color:white;
        font-size:50      
    }
    h4{
        font-family: fantasy;
        font-size:30;
    }